
/* ------ Variables ------ */

$orange-primary: #FF9D00;
$orange-lightened: lighten($orange-primary, 45%);
$purple-secondary: #8C3F85;
$purple-darkened: darken($purple-secondary, 5%);
$white-color: #FFF;
$offwhite-color: #FAFAFA;
$shadow-color: #848484;
$gray-color: #9E9E9E;
$gray-color-light: lighten(#9E9E9E, 20%);
$dark-color: #5E5E5E;
$red-error: #A94442;
$green-success: #129E19;

/* ------ General ------ */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
	position: relative;
	background-color: $offwhite-color;
  	padding: 64px 0 230px 0;
  	margin: 0;
  	min-height: 100%;
  	font-family: 'Source Sans Pro', sans-serif;
}

.row {
	margin: 0;
	padding-bottom: 40px;
}

h1, h2, h3 {
	margin-top: 0px;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}

pre {
	white-space: pre-wrap;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	background-color: transparent;
	border-color: transparent;
	padding: 0;
}

a, a:hover {
	color: $purple-secondary;
	text-decoration: none;
}

ul {
	padding: 0;
	list-style: none;
}

textarea {
	resize: none;
}

textarea.textbox-sm, textarea.textbox-sm:focus {
	height: 100px;
	border: 1px solid $gray-color-light;
}

textarea.textbox-lg, textarea.textbox-lg:focus {
	height: 150px;
	border: 1px solid $gray-color-light;
}

.text-inline {
	display: inline;
	margin-right: 20px;
}

.form-input {
	margin-bottom: 20px;
}

.form-control, .form-control:focus {
	outline: 0 none;
	box-shadow: none;
	border-style: none;
	border-bottom: 1px solid $gray-color-light;
}

.profile-small {
	border-radius: 25px;
	width: 30px;
	height: 30px;
	margin-top: 3px;
	overflow: hidden;

	img {
		height: 100%;
	}
}

.inset-icon {
	margin-right: 3px;
}

.centered {
	clear: both;
	text-align: center;
}

.buffer-top-sm {
	margin-top: 10px;
}

.buffer-top-md {
	margin-top: 40px;
}

.buffer-bottom-sm {
 	margin-bottom: 10px;
}

.buffer-bottom-md {
 	margin-bottom: 40px;
}

.buffer-bottom-lg {
 	margin-bottom: 70px;
}

.buffer-right {
	margin-right: 10px;
}

.column-container {
	background-color: $white-color;
	border: 1px solid $gray-color-light;
	border-radius: 10px;
	padding: 30px;
	margin-bottom: 30px;
}

.disclaimer {
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	margin: 0 auto;
	width: 90%;
	color: $gray-color;
}

.disclaimer-error {
	font-size: 18px;
	padding-top: 10px;
	text-align: center;
	font-weight: 700;
	margin: 0 auto;
	width: 90%;
	color: $red-error;
}

.disclaimer-success {
	font-size: 18px;
	padding-top: 10px;
	text-align: center;
	font-weight: 700;
	margin: 0 auto;
	width: 90%;
	color: $green-success;
}

.user-note {
	margin-top: 50px;

	.note-icon {
		width: 200px;
		margin: 0 auto;
		margin-bottom: 20px;

		img {
			width: 100%;
		}
	}
}

@media (max-width: 767px) {
	body {
		padding-top: 50px;
	}

	.column-container {
		margin-top: 30px;
	}
}

/* ------ Buttons ------ */

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary, .btn-primary:focus {
	transition: all .2s ease-in-out;
	color: $white-color;
	background-color: $purple-secondary;
	border-color: $purple-secondary;
	border-radius: 5px;
	box-shadow: none;
}

.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary:active:hover, {
	background-color: $purple-darkened;
	border-color: $white-color;
	box-shadow: none;
}

.btn-primary:focus {
	background-color: $purple-darkened;
	border-color: $purple-secondary;
	box-shadow: 0 0 10px $purple-secondary;
}

.btn-clear, .btn-clear:focus {
	transition: all .2s ease-in-out;
	color: $gray-color;
	border-color: transparent;
	background-color: transparent;
	box-shadow: none;
}

.btn-clear:hover,
.btn-clear:active:focus,
.btn-clear:active:hover {
	color: $dark-color;
	border-color: transparent;
	background-color: transparent;
	box-shadow: none;
}

.btn-clear:focus {
	color: $dark-color;
}

.btn-outline, .btn-outline:focus {
	transition: all .2s ease-in-out;
	color: $purple-secondary;
	border-color: $purple-secondary;
	background-color: transparent;
	box-shadow: none;
	border-radius: 5px;
	border-width: 1px;
}

.btn-outline:hover,
.btn-outline:active:focus,
.btn-outline:active:hover {
	color: $white-color;
	border-color: $purple-secondary;
	background-color: $purple-secondary;
	box-shadow: none;
}

.btn-outline:focus {
	box-shadow: 0 0 10px $purple-secondary;
}

.btn-disabled {
	opacity: 0.5;
}

.upvote-static, .upvote-static:focus {
	background-color: $white-color;
	box-shadow: none;
	border-color: #CCC;
}

.upvote-static:hover,
.upvote-static:active:focus,
.upvote-static:active:hover {
	background-color: $white-color;
	border-color: #CCC;
	cursor: default;
}

.upvote-new, .upvote-new:focus {
	background-color: $white-color;
	box-shadow: none;
	border-color: #CCC;
}

.upvote-old, .upvote-old:focus {
	background-color: $offwhite-color;
	box-shadow: none;
	border-color: #CCC;
}

.upvote-old:hover,
.upvote-old:active:focus,
.upvote-old:active:hover {
	background-color: $offwhite-color;
	border-color: #CCC;
}

.btn-full {
	width: 90%;
	max-width: 300px;
}

.btn-full-flex {
	width: 50%;
	max-width: 300px;
}

.btn-block {
	display: block;
	margin: 0 auto;
}

.btn-add {
	font-size: 24px;
}

/* ------ TopNav ------ */

.navbar {
	background-color: $white-color;
	box-shadow: 0px 0px 5px $shadow-color;
}

.logo {
	margin-top: 5px;
	width: 170px;
}

.logo img {
	width: 100%;
}

.logo:focus {
	outline: none;
}

#navItems li.active a {
	background-color: $white-color;
}

#navItems li a {
	padding-left: 0px;
}

#navItems a:focus {
	outline: none;
}

.notifications-badge {
	font-weight: 700;
	color: $purple-secondary;
}

@media (max-width: 767px) {
	.logo {
		margin-top: 0px;
		width: 150px;
	}

	.upload-expanded,
	.groups-expanded,
	.notifications-expanded,
	.profile-expanded,
	.login-expanded {
		display: none !important;
	}

	#navItems li a {
	 padding-left: 15px;
	}
}

@media (max-width: 767px) {
	.notification-popup {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.upload-collapsed,
	.groups-collapsed,
	.notifications-collapsed,
	.profile-collapsed,
	.login-collapsed {
		display: none !important;
	}
}

/* ------ Banner ------ */

.banner {
	background: url('../assets/banner-bg.png') no-repeat;
	background-size: cover;
	text-align: center;
	margin-bottom: 60px;
	padding: 30px 0;

	h1 {
		font-size: 32px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.banner-text {
	color: $white-color;
	margin: 0 auto;
	width: 80%;
}

@media (max-width: 767px) {
	.banner {
		padding: 15px 0;

		h1 {
			font-size: 24px;
		}

		h4 {
			display: none;
		}
	}
}

/* ------ Upload List ------ */

.upload-column {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.header-search {
	h2 {
		float: left;
		margin-left: 20px;
	}

	.search-public {
		float: right;
		margin-right: 20px;

		i {
			display: inline;
		}

		input {
			display: inline;
			width: 250px;
			background-color: transparent;
		}
	}
}

.upload-list {
	padding-top: 30px;
	width: 100%;
	clear: both;
}

.upload-item {
	min-width: 300px;
	transition: all .2s ease-in-out;
}

.upload-item:hover {
	transform: scale(1.02);
}

.thumbnail-container {
	background-color: $white-color;
	height: 350px;
	position: relative;
	border: 1px solid $gray-color-light;
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
}

.thumbnail-container img {
	max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.work-list-text {
	background-color: $white-color;
	height: 90px;
	border: 1px solid $gray-color-light;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 20px;
	overflow: hidden;

	.work-list-title {
		font-weight: 700;
		margin-bottom: 10px;
	}
}

@media (max-width: 767px) {
	.header-search {
		text-align: center;

		h2 {
			float: none;
			font-size: 24px;
			display: block;
			margin-left: 0;
			margin-bottom: 20px;
		}

		.search-public {
			float: none;
			display: block;
			margin-right: 0;
		}
	}
}

/* ------ Upload ------ */

.dropzone {
	transition: all .3s ease-in-out;
	background-color: $white-color;
	position: relative;
	width: 97%;
	height: 120px;
	border: 3px dashed $orange-primary;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 700;
	color: $gray-color;
	text-align: center;
	cursor: pointer;

	div {
		width: 250px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.dropzone:hover {
	background-color: $orange-lightened;
	color: $orange-primary;
}

.dropzone-empty {
	border-color: $red-error;
	color: $red-error;
}

.upload-container img {
	background-color: $white-color;
	border-radius: 10px;
	box-shadow: 0px 0px 5px $shadow-color;
	width: 97%;
	margin-left: 1%;
}

.overflow-scroll {
	height: 100vh;
	overflow-y: auto;

	h4 {
		font-weight: 700;
	}

	pre {
		width: 97%;
		margin-bottom: 20px;
	}

	.upload-container {
		cursor: pointer;
	}
}

.upload-comment {
	background-color: $white-color;
	padding: 15px;
	padding-bottom: 10px;
	border: 1px solid $gray-color-light;
	border-radius: 5px;
	margin-bottom: 5px;
}

.comment-options {
	margin-bottom: 10px;
}

.user-info {
	margin-bottom: 10px;

	.profile-small {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}

	h4 {
		vertical-align: middle;
		display: inline-block;
	}
}

.comment-replies {
	margin-bottom: 10px;

	li {
		max-height: 0px;
		overflow: hidden;
		border-left: 2px solid $gray-color-light;
	}

	.expanded-reply {
		transition: max-height 2s;
		padding: 5px 10px;
		max-height: 2000px;
		overflow: hidden;
	}
}

.lightbox {
	transition: opacity .1s;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.5);
	opacity: 0;
	z-index: -1;

	.upload-container {
		width: 90%;
		height: 90%;
		margin: 0 auto;

		img {
			width: auto;
			max-width: 80%;
			height: auto;
			max-height: 80%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	i {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 36px;
		color: $white-color;
		cursor: pointer;
	}
}

.lightbox-show {
	opacity: 1.0;
	z-index: 1051;
}

@media (max-width: 991px) {
	.dropzone {
		margin-bottom: 30px;
	}

	.image-preview {
		margin-bottom: 30px;
	}

	.overflow-scroll {
		height: auto;
		overflow-y: visible;
	}

	.lightbox {
		i {
			font-size: 24px;
		}
	}
}

/* ------ Modals ------ */

.modal-header {
	text-align: center;
	
	h4 {
		font-family: 'Nunito', sans-serif;
		font-size: 24px;
		font-weight: 700;
	}
}

.modal-body {
	background-color: $offwhite-color;

	input {
		background-color: transparent;
	}
}

.modal-logo {
	width: 200px;
	margin: 0 auto;
	margin-top: 10px;

	img {
		width: 100%;
	}
}

.modal-body {
	padding: 20px 0px 50px 0px;

	.form-group, p, .share-input {
		width: 80%;
		margin: 0 auto;
	}
}

.invite-search-results {
	position: absolute;
	z-index: 3000;
	width: 80%;
	left: 10%;
	max-height: 250px;
	overflow-y: scroll;
	border: 1px solid $gray-color-light;
	background-color: $white-color;
	cursor: pointer;

	li {
		margin-bottom: 0px;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-top: 1px solid $gray-color-light;
	}

	li:first-child {
		border-top: none;
	}
}

.invite-list {
	width: 80%;
	margin: 0 auto;
	padding: 15px;
	height: 250px;
	overflow-y: scroll;
	margin-bottom: 30px;
	border: 1px solid $gray-color-light;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: $white-color;
}

.invite-removable {
	h4, button {
		display: inline-block;
		vertical-align: middle;
	}

	.btn-clear {
		display: inline-block;
	}
}

.copied-text {
	display: block;
	color: $purple-secondary;
}

/* ------ Notifications ------ */

.notifications-popup {
	position: fixed;
	box-shadow: 0px 1px 5px $shadow-color;
	z-index: 2000;
	background-color: $white-color;
	border-radius: 5px;
	width: 350px;
	height: 400px;
	right: 10px;
	overflow-y: scroll;

	h4 {
		float: left;
		margin-left: 5px;
	}

	.see-all-notifications {
		margin-top: 10px;
		margin-right: 5px;
		float: right;
		cursor: pointer;
	}

	.recent-notifications {
		li:first-child {
			border-top: 1px solid $gray-color-light;
			clear: both;
		}

		li {
			transition: all .2s ease-in-out;
			border-bottom: 1px solid $gray-color-light;
			padding: 5px;
			cursor: pointer;
		}

		li:hover {
			background-color: $offwhite-color;
		}
	}
}

.all-notifications {
	li:first-child {
		border-top: 1px solid $gray-color-light;
		clear: both;
	}

	li {
		transition: all .2s ease-in-out;
		border-bottom: 1px solid $gray-color-light;
		padding: 5px;
		cursor: pointer;
	}

	li:hover {
		background-color: $offwhite-color;
	}
}

/* ------ Profile ------ */

.profile-summary {
	padding: 40px 20px;
}

.profile-info {
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 30px;

	h4 {
		color: $gray-color;
	}
}

.profile-tabs {
	background-color: $offwhite-color;
	margin-bottom: 40px;
	border-bottom: 1px solid $gray-color-light;

	ul {
		text-align: center;

		li {
			padding: 15px 10px;
			opacity: 0.3;
			font-size: 20px;
		}

		li:hover {
			cursor: pointer;
		}
	}

	.active-profile-tab {
		margin: -1px;
		opacity: 1;
		color: $purple-secondary;
		font-weight: 700;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px; 
		border: 1px solid $gray-color-light;
		border-bottom: 2px solid $offwhite-color;
	}
}

.profile-container {
	display: inline-block;
	border-radius: 1000px;
	overflow: hidden;
	width: 200px;
	height: 200px;
}

.profile-container img {
	display: inline;
	margin: 0 auto;
	height: 100%;
	width: auto;
}

.profile-uploads {
	display: inline-block;
	width: 100%;
}

.profile-comments {
	display: inline-block;
	width: 100%;

	.profile-comment {
		transition: all .2s ease-in-out;
		background-color: $white-color;
		padding: 15px 15px;
		border: 1px solid $gray-color-light;
		border-radius: 5px;
		cursor: pointer;
		margin-bottom: 10px;

		p {
			color:$gray-color;
		}
	}

	.profile-comment:hover {
		transform: scale(1.02);
	}
}

.bold-text {
	font-weight: 700;
}

.profile-karma {
	display: inline-block;
	text-decoration: underline;
	font-size: 18px;
	cursor: pointer;
	margin-bottom: 20px;
}

.edit-profile-pic {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;

	input {
		width: 170px;
		margin: 0 auto;
	}
}

@media (max-width: 767px) {

	.profile-summary {
		padding: 40px 10px;

		h2 {
			font-size: 24px;
		}

		h4 {
			font-size: 16px;
		}
	}

	.profile-container {
		width: 120px;
		height: 120px;
	}

	.profile-info {
		width: 60%;
		margin-top: 5px;
		margin-left: 15px;
	}

	.profile-tabs {
		ul li {
			font-size: 16px;
		}
	}
}

/* ------ Footer ------ */

.footer {
	height: 200px;
	background-color: $white-color;
	border-top: 1px solid $gray-color-light;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 35px;

	.footer-logo {
		margin: 0 auto;
		margin-bottom: 10px;
		width: 200px;

		img {
			width: 100%;
		}
	}

	.social-icons {
		width: 200px;
		margin: 0 auto;
		margin-bottom: 20px;
		text-align: center;

		a {
			padding: 15px;
		}

		i {
			transition: all .3s ease-in-out;
			font-size: 24px;
			color: $gray-color-light;
		}

		i:hover {
			color: $purple-secondary;
		}
	}

	p {
		text-align: center;
		line-height: 18px;
		margin: 0 auto;
		width: 300px;
	}
}

